{% extends 'MikyAdminBundle::layout.html.twig' %}



{% form_theme form 'MikyAdminBundle:Form:theme.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="portlet">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-shopping-cart"></i>Paramètres {{ ("miky.settings."~settings.schemaAlias)|trans }} </div>
                    <div class="actions btn-set">

                        {{ form_widget(form.submit, {'attr': {"class": 'btn btn-success'}}) }}

                    </div>
                </div>
                <div class="portlet-body">

                        {{ form_widget(form) }}

                          {{ form_row(form._token) }}
                </div>
            </div>
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
    </div>

{% endblock %}

